Applications
Downloads
Desktop
Documents
Library
Movies
Music
Pictures
Public
VirtualBox\ VMs
miniconda3
tmux-client*
tmux-server*
.viminfo
.viminf*
.zcompdump*
.yarnrc
.zsh_history
.wget-hsts
.w3m
.swt
.ssh
.shadow
.rnd
.python_history
.pylint.d
.psql_history
.profile
.pentaho
.oracle_jre_usage
.npm
.node_repl_history
.local
.newsboat
.lesshst
.kettle
.gem
.elinks
.docker
.cups
.config
.conda
.cache
.bundle
.bash_history
.access
.Trash
.DS_Store
.CFUserTextEncoding
.vim/bundle
.floorc.json
floobits
