[submodule ".vim/bundle/delimitmate"]
	path = .vim/bundle/delimitmate
	url = https://github.com/raimondi/delimitmate
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule ".vim/plugged/simplifysimplify"]
	path = .vim/plugged/simplifysimplify
	url = https://github.com/nightsense/simplifysimplify.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/bundle/vim-devicons"]
	path = .vim/bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/bundle/vim-airline-themes"]
	path = .vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".vim/bundle/tabline"]
	path = .vim/bundle/tabline
	url = https://github.com/mkitt/tabline.vim.git
[submodule ".vim/bundle/dockerfile.vim"]
	path = .vim/bundle/dockerfile.vim
	url = https://github.com/ekalinin/dockerfile.vim
[submodule "/Users/naomi.wilkins/.vim/bundle/vem-tabline"]
	path = /Users/naomi.wilkins/.vim/bundle/vem-tabline
	url = https://github.com/pacha/vem-tabline.git
[submodule ".tmux-themepack"]
	path = .tmux-themepack
	url = https://github.com/jimeh/tmux-themepack.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
